@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&family=Roboto+Condensed:wght@300;400;500;700&display=swap");

:root {
  /* COLORS */
  --yellow: #f2ff3c;
  --yellow-opacity: rgba(242, 255, 60, 0.7);
  --yellow-tint: rgba(242, 255, 60, 0.1);
  --white: #fff;
  --white-tint: rgba(255, 255, 255, 0.1);
  --secondary-text: rgba(255, 255, 255, 0.6);
  --bg-black: #1f1f1f;
  --bg-black-transparent: rgba(31, 31, 31, 0.75);
  --bg-black-tint: rgba(31, 31, 31, 0.1);

  /* TEXT */
  --main-font: "Poppins", sans-serif;
  --sec-font: "Roboto Condensed", sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  font-family: var(--main-font);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  width: min(75rem, 70%);
  margin: 0 auto;
  background-color: var(--bg-black);
}
h1,
h2,
h3 {
  margin: 0;
  color: var(--white);
}

a {
  text-decoration: none;
}
p {
  margin: 0;
}
ol,
ul {
  list-style: none;
}

PORTFOLIO .portfolio {
  margin-top: 60rem;
}
.portfolio__title::before {
  content: "";
  height: 0.05rem;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  bottom: 50%;
}
.portfolio .portfolio__title {
  font-family: var(--sec-font);
  font-size: 2.5rem;
  text-align: right;
  position: relative;
}
@media (min-width: 768px) {
  .portfolio {
    margin-top: 20rem;
  }
  .portfolio .portfolio__title {
    font-size: 3rem;
  }
  .portfolio__title::before {
    width: 55%;
  }
}

/* PROJECTS */
.projects {
  margin-top: 4rem;
  display: grid;
  place-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project {
  border: 1px solid var(--yellow);
  background-color: transparent;
  padding: 2rem;
  border-radius: 0.3rem;
  max-width: 35rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s;
}
.project .tags {
  display: flex;
  justify-content: center;
}
.project__image {
  border-radius: 0.3rem;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  margin: 0 auto;
}
.project__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.project__description {
  text-align: center;
  margin-bottom: 2.5rem;
  color: var(--secondary-text);
  font-family: var(--sec-font);
  line-height: 2;
}
.project .buttons {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.project__button {
  max-width: 11rem;
  display: block;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 300;
  border: 1px solid var(--white);
}
.project__button--github {
  display: grid;
  place-items: center;
  background-color: var(--white);
  color: #1f1f1f;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
@media (min-width: 768px) {
  .project:hover {
    background-color: var(--yellow-tint);
  }
  .project__button:hover {
    background-color: var(--white-tint);
  }
  .project__button--github:hover {
    background-color: var(--white);
  }
}
