@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  /* COLORS */
  --yellow: #f2ff3c;
  --yellow-opacity: rgba(242, 255, 60, 0.7);
  --white: #fff;
  --secondary-text: rgba(255, 255, 255, 0.6);
  --bg-black: #1f1f1f;

  /* TEXT */
  --main-font: "Poppins", sans-serif;
  --sec-font: "Roboto Condensed", sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  font-family: var(--main-font);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  width: min(75rem, 70%);
  margin: 0 auto;
  background-color: var(--bg-black);
}

a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
