@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --yellow: #f2ff3c;
  --yellow-opacity: rgba(242, 255, 60, 0.7);
  --white: #fff;
  --secondary-text: rgba(255, 255, 255, 0.6);
  --bg-black: #1f1f1f;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  font-family: "Poppins", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  width: min(75rem, 70%);
  margin: 0 auto;
  background-color: var(--bg-black);
}

a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
/* INFO */
.info {
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  align-items: center;
  color: var(--white);
}
@media (min-width: 768px) {
  .info {
    width: 95%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-template-columns: 70% 30%;
  }
}
.info__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__name {
  font-size: 3.5rem;
  margin: 0;
}
@media (min-width: 768px) {
  .info__profile {
    display: block;
    text-align: start;
  }
  .info__name {
    font-size: 4rem;
  }
}
.info__profession {
  margin: 0 0 1.5rem 0;
  color: var(--secondary-text);
}
.info__profession .js {
  color: var(--yellow-opacity);
}
.info__text {
  margin: 0;
  width: 75%;
  color: var(--secondary-text);
}
@media (min-width: 768px) {
  .info__text {
    width: 100%;
  }
}
.info__text + p {
  margin-top: 0.8rem;
}
.info__img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
}
