---
import BaseLayout from "../layouts/BaseLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";

import "../styles/global.css";
---

<BaseLayout>
  <Header />

  <article class="about">
    <div class="about__imgs">
      <picture>
        <source srcset="../../public/about1.avif" type="image" />
        <source srcset="../../public/about1.webp" type="image" />
        <source srcset="../../public/about1.jpg" type="image" />
      </picture>
    </div>
    <aside class="about__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
      architecto suscipit vel repellat porro itaque sint atque blanditiis, amet
      voluptates corrupti pariatur dolorem ex eum iure ea perferendis voluptatem
      vitae laboriosam molestias error non explicabo. Culpa aspernatur facere
      vel a maxime veniam porro excepturi eaque? Debitis esse iusto sed
      voluptate.
    </aside>
  </article>
</BaseLayout>
