---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<BaseLayout>
  <Navigation />
  <article class="info">
    <div class="info__profile">
      <h1 class="info__name">Fabián Vera Uribe</h1>
      <p class="info__profession">JavaScript Frontend Developer</p>
      <p class="info__text">Creativo. Trabajador. Honesto.</p>
      <p class="info__text">
        Encuentro en la programación la capacidad de plasmar todo lo que se
        pueda imaginar.
      </p>
    </div>
    <img
      class="info__img"
      width="100px"
      src="../../public/profile-img.jpg"
      alt="imagen perfil"
    />
  </article>
</BaseLayout>
