---
import Picture from "./Picture.astro";
import "../styles/about.css";
---

<article class="about">
  <h3 class="about__title">Sobre mi</h3>
  <div>
    <div class="about__imgs">
      <Picture className="about__img about__img--1" path="/about1" />
      <Picture className="about__img about__img--2" path="/about2" />
    </div>
    <aside class="about__text">
      <p>Nací en Chile en 1997</p>
      <p>
        Mi primer acercamiento con el desarrollo web fue, sin darme cuenta, con
        14 años editando mi perfil de Tumblr.
      </p>
      <p>
        Soy un férreo creyente de que la Web es una <span
          >herramienta absoluta</span
        >, esperando que los usuarios la utilicen para crear, aprender e
        innovar.
      </p>
      <p>Me caracterizo por ser <span>diligente y buen compañero.</span></p>
      <p>
        Tengo muchas ganas de participar en <span>proyectos relevantes</span>,
        que entreguen valor a los usuarios.
      </p>
      <p><span>¡No dudes en contactarme!</span></p>
    </aside>
  </div>
</article>
