---
import "../styles/intro.css";
---

<article class="info">
  <div class="info__profile">
    <h1 class="info__name">Fabián Vera Uribe</h1>
    <p class="info__profession">
      <span class="js">JavaScript</span>
      Frontend Developer
    </p>
    <p class="info__text">Creativo. Trabajador. Honesto.</p>
    <p class="info__text">
      Encuentro en la programación la capacidad de plasmar todo lo que se pueda
      imaginar.
    </p>
  </div>
  <picture>
    <source srcset="../../public/profile-img.avif" type="image/avif" />
    <source srcset="../../public/profile-img.webp" type="image/webp" />
    <img
      class="info__img"
      loading="lazy"
      width="100px"
      height="100px"
      src="../../public/profile-img.jpg"
      alt="imagen perfil"
    />
  </picture>
</article>
