---
import Picture from "./Picture.astro";
import "../styles/intro.css";
---

<article id="home" class="info">
  <div class="info__profile">
    <h1 class="info__name">Fabián Vera Uribe</h1>
    <p class="info__profession">
      <span class="js">JavaScript</span>
      Frontend Developer
    </p>
    <p class="info__text">Creativo. Trabajador. Honesto.</p>
    <p class="info__text">
      Encuentro en la programación la capacidad de plasmar <span
        >todo lo que se pueda imaginar.</span
      >
    </p>
  </div>
  <Picture className="info__img" path="../../public/profile-img" />
</article>
